/* eslint-disable */
<template>
    <div class="container">
        <b-row class="justify-content-center">
            <b-col sm="8" md="6" lg="5">
                <b-card-group>
                    <b-card no-body class="p-4">
                        <b-card-body>
                            <b-form validate @submit.prevent="confirmLogin">
                                <h1>Login</h1>
                                <p class="text-muted">Sign In to your account</p>

                                <b-input-group class="mb-3">
                                    <b-input-group-prepend>
                                        <b-input-group-text>@</b-input-group-text>
                                    </b-input-group-prepend>
                                    <b-form-input type="text" class="form-control" placeholder="Email" v-model="userData.email" autocomplete="email" />
                                </b-input-group>

                                <b-input-group class="mb-4">
                                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                                    <b-form-input type="password" class="form-control" placeholder="Password" autocomplete="current-password" v-model="userData.password" />
                                </b-input-group>

                                <b-row>
                                    <b-col cols="6">
                                        <b-button variant="primary" type="submit" class="px-4">Login</b-button>
                                    </b-col>
                                </b-row>
                            </b-form>
                        </b-card-body>
                    </b-card>
                    <b-card no-body class="text-white bg-primary py-5 d-md-down-none" style="flex:1 0 100%;">
                        <b-card-body class="text-center">
                            <div>
                                <h2>Sign up</h2>
                                <router-link to="/registration">
                                    <b-button variant="primary" class="active mt-3">Register Now!</b-button>
                                </router-link>
                            </div>
                        </b-card-body>
                    </b-card>
                </b-card-group>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    /* eslint-disable */
    import api from '@/shared/api'
    import VueCookies from 'vue-cookies'

    export default {
        beforeRouteEnter (to, from, next) {

            if (VueCookies.get("token")) {
                next(vm => {
                    vm.$router.push('/')
                    return;
                })
            } else {
                next(vm => {

                })
            }
        },
        name: "Login",
        data(){
            return{
                userData: {
                    email: null,
                    password: null
                }
            }
        },
        methods:{
            confirmLogin () {
                api.post('/login', this.userData)
                    .then(values => {
                        if ( values.data.success ) {
                            let token = values.data.success.token
                            VueCookies.set("token",token,"30D");
                            this.$router.push('/')
                        }
                    })
                    .catch(error => {
                    });
            }
        }
    }
</script>

<style scoped>

</style>