/* eslint-disable */
<template>
    <div class="main animated fadeIn">
        <h1>Главная</h1>

        <b-card-group deck class="mb-4 blocks-wrap">
            <b-card
                    title="Добро пожаловать!"
                    class="image-wrap"
            >
                <b-card-text>
                    Данное тестовое задание выполнено со стэком:
                    Бэк: php(laravel)
                    Фронт: js(vue)
                </b-card-text>

                <b-card-text>Структура фронтенда собрана с помощью vue-cli 3. Шаблонные блоки сделаны с помощью bootstrap-vue.</b-card-text>

            </b-card>

            <b-card class="video-wrap">
                <b-embed
                        type="iframe"
                        aspect="16by9"
                        src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen
                        class="video"
                ></b-embed>
            </b-card>
        </b-card-group>

        <b-container fluid class="p-4 bg-dark">
            <b-row>
                <b-col>
                    <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=54" alt="Image 1"></b-img>
                </b-col>
                <b-col>
                    <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=58" alt="Image 2"></b-img>
                </b-col>
                <b-col>
                    <b-img thumbnail fluid src="https://picsum.photos/250/250/?image=59" alt="Image 3"></b-img>
                </b-col>
            </b-row>
        </b-container>


    </div>
</template>

<script>
    /* eslint-disable */
    export default {
        name: "Main",
        data() {
            return {

            }
        },
        methods: {

        }
    }
</script>

<style scoped lang="scss">
    .main{
        .video{
            /*width: 500px;*/
            max-width: 100%;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 1024px){
        .main{
            padding: 0 15px;
            .blocks-wrap{
                flex-flow:wrap column;
                .video-wrap{
                    width: 543px;
                    margin: 20px auto;
                    max-width: 100%;
                }
            }
        }
    }

    @media screen and (max-width: 590px) {
        .image-wrap{
            flex-direction: column !important;
            margin: 20px auto;
            width: 300px;
        }
    }
</style>