/* eslint-disable */
<template>
    <div class="app flex-row align-items-center animated fadeIn">
        <div class="container">
            <b-row class="justify-content-center">
                <b-col md="6" sm="8">
                    <b-card no-body class="mx-4">
                        <b-card-body class="p-4">
                            <b-form validate @submit.prevent="confirmRegister">
                                <h1>Register</h1>
                                <p class="text-muted">Create your account</p>
                                <b-input-group class="mb-3">
                                    <b-input-group-prepend>
                                        <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                                    </b-input-group-prepend>
                                    <b-form-input type="text" class="form-control" placeholder="Username" v-model="userData.name" autocomplete="username" />
                                </b-input-group>

                                <b-input-group class="mb-3">
                                    <b-input-group-prepend>
                                        <b-input-group-text>@</b-input-group-text>
                                    </b-input-group-prepend>
                                    <b-form-input type="text" class="form-control" placeholder="Email" v-model="userData.email" autocomplete="email" />
                                </b-input-group>

                                <b-input-group class="mb-3">
                                    <b-input-group-prepend>
                                        <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                                    </b-input-group-prepend>
                                    <b-form-input type="password" class="form-control" placeholder="Password" v-model="userData.password" autocomplete="new-password" />
                                </b-input-group>

                                <b-input-group class="mb-4">
                                    <b-input-group-prepend>
                                        <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                                    </b-input-group-prepend>
                                    <b-form-input type="password" class="form-control" placeholder="Repeat password" v-model="userData.c_password" autocomplete="new-password" />
                                </b-input-group>

                                <b-button variant="success" type="submit" block>Create Account</b-button>
                            </b-form>
                        </b-card-body>
                    </b-card>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    import api from '@/shared/api'
    import VueCookies from 'vue-cookies'

    export default {
        beforeRouteEnter (to, from, next) {

            if (VueCookies.get("token")) {
                next(vm => {
                    vm.$router.push('/')
                    return;
                })
            } else {
                next(vm => {

                })
            }
        },
        name: "Registration",
        data(){
            return{
                userData: {
                    name: null,
                    email: null,
                    password: null,
                    c_password: null
                },
            }
        },
        methods: {
            confirmRegister () {
                api.post('/register', this.userData)
                    .then(values => {
                        console.log(values.data)
                        if(values.data.success && values.status === 200){
                            this.$router.push('/login')
                        }
                    })
                    .catch(error => {
                    });
            }
        }
    }
</script>

<style scoped>

</style>