/* eslint-disable */
<template>
    <div>
        <b-table striped hover :items="items"></b-table>
    </div>
</template>

<script>
    /* eslint-disable */
    import VueCookies from 'vue-cookies'
    import api from '@/shared/api'

    export default {
        beforeRouteEnter (to, from, next) {

            if (!VueCookies.get("token")) {
                next(vm => {
                    vm.$router.push('/login')
                    return
                })
            } else {

                Promise.all([api.get('/users')])
                    .then(values => {
                        next(vm => vm.setData(null, values[0]))
                    })
                    .catch(error => {
                        //next(vm => vm.setData(error))
                    });

            }
        },
        name: "Users",
        data() {
            return {
                items: []
            }
        },
        methods:{
            setData(err, data){
                this.items = data.data
            }
        }
    }
</script>

<style scoped>

</style>