/* eslint-disable */
<template>
    <div id="app" class="animated fadeIn">
        <div class="inner-wrap">
            <b-navbar toggleable="lg" type="dark" variant="info" class="menu-wrap">
                <b-nav pills>
                    <b-nav-item to="/">
                        main
                    </b-nav-item>
                    <b-nav-item to="/login">
                        login
                    </b-nav-item>
                    <b-nav-item to="/registration">
                        sign up
                    </b-nav-item>
                    <b-nav-item to="/users">
                        users
                    </b-nav-item>
                </b-nav>
            </b-navbar>
            <div class="content">
                <router-view/>
            </div>
        </div>
    </div>
</template>
/* eslint-disable */
<script>
    import '../node_modules/bootstrap/dist/css/bootstrap.css'
    import '../node_modules/bootstrap-vue/dist/bootstrap-vue.css'
    export default {
        name: 'app'
    }
</script>


<style lang="scss">
    #app{
        .menu-wrap{

            ul{
                max-width: 1120px;
                margin: 0 auto;
                flex-grow: 1;
                li{
                    a{
                        text-decoration: none;
                        color: #fff;
                        transition: 0.3s;
                        &:hover, &.router-link-exact-active{
                            background-color: #007bff;
                        }
                    }
                }
            }
        }
        .content{
            max-width: 1120px;
            margin: 20px auto;
        }
    }
</style>
